*{
    margin: 0px;
    padding: 0ps;
}

/*.topnav{
    background-color: lightslategray;
}*/

.container{
    max-width: 80%;
    background-color:rgb(90, 155, 240);
    padding: 34px;
    margin: auto;
    position:relative;
    top: 50px;
}

.container h1, p{
    text-align:center;
}

.container form{
    background-color:rgb(90, 155, 240);
}

